body{
	background-color: #ecf0f1 !important;
}

.navbar{
	background-color: #5cb85c;
	border-radius: 0px !important;
	height: 30px;
}
.brand {
	color: white;
}

.post {
	width: 100%;
	clear:both;
	display: inline-block;
	margin-bottom: 20px;
  background: #fff;
  padding:1em;
  margin-bottom: 1em;
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.18);
}

.text {
	float: left;
	margin-left: 20px;
}

.avatar {
	border-radius: 50%;
	float: left;
	margin-right: 1em;
}

.img {
	border-radius: 10px;
	margin-right: 1em;
	width: 100%; 
}