body{
	background-color: #ecf0f1 !important;
}

.navbar {
	background-color: #2980b9;
	border-radius: 0px !important;
	max-height: 30px !important;
	min-height: 30px !important;
}
.brand, .count {
	color: white;
	font-size: 1.5em;
}
.brand:hover {
	color: white;
	text-decoration: none;
}
.count { font-weight: normal;}
.post {
	width: 100%;
	clear:both;
	display: inline-block;
	margin-bottom: 20px;
  background: #fff;
  padding:1em;
  margin-bottom: 1em;
  border-radius: 5px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.18);
}

.text {
	float: left;
	margin-left: 20px;
}

.avatar {
	border-radius: 50%;
	float: left;
	margin-right: 1em;
}

.img {
	border-radius: 10px;
	margin-right: 1em;
	width: 100%; 
	margin-top: 1em;
}